{% block content %}
<h1> Create Account </h1>
<form action="", method="post">
    {{ form.hidden_tag() }}
    <p>{{form.first_name.label}}<br>
    {{form.first_name(size=32)}}<br>
    </p>
    <p>{{form.last_name.label}}<br>
    {{form.last_name(size=32)}}<br>
    </p>
    <p>{{form.email_address.label}}<br>
    {{form.email_address(size=32)}}<br>
    </p>
    <p>{{form.user_name.label}}<br>
    {{form.user_name(size=32)}}<br>
    </p>
    <p>{{form.password.label}}<br>
    {{form.password(size=32)}}<br>
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
